{% extends "base.html" %}

{% block title %}Services{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="span12">
	<h3 class="underline">Services</h3>
        <p> We provide services for spreading new cutting-edge technology to the community. The available technology is marked with "Avaialbe" in the repository</p>

        <p>Multiple ways are available for mentoring services, including online-consulation, vedio conference, or face-to-face teaching.</p> 
        
        <p><b>If mentoring service is needed, please contact us at <a href="mailto:{{email}}">{{email}}</a></b></p>
</div>
</div><!--/row fluid-->
{% endblock %}



