# general ignores
*~
*.pyc
*.bak
.project
.pydevproject
/.tox
/*.egg-info
/dist
/MANIFEST
/deploy/env
/deploy/settings.py

# staticfiles 
/deploy/data
/deploy/media
# local settings
/deploy/local_settings.py
##




